# Node
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# Tauri
src-tauri/target/
src-tauri/.cargo/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
